*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: white;
  color: rgb(255, 255, 255);
  font-family:'Montserrat', sans-serif; 
  font-weight: 300;
  font-size: 30px;
}

header{
  width: 100%;
  height: 100vh;
  background-color:rgb(0, 0, 0);
  background-image: url("../img/backCover.jpeg");
  background-size: cover;
  background-position: center;

  .navigation-bar{
    padding-top: 10px;
    right: 10px;
    position: fixed;
    border-bottom: 1px aqua solid;
    list-style: none;
   
  }
      .navigation-bar li{
        display: inline-block;
        padding: 0 20px;
      }
        .navigation-bar li a{
          font-weight: 500;
          text-decoration: none;
          color: white;
          
        }
        .navigation-bar li a:hover{
          color: aqua;
          border-bottom: 2px aqua solid;
          text-shadow: 0px 0px 10px  aqua;
        }
  
      h1{
        position: absolute;
        margin-top:150px;
        padding-left: 45px;
        color:white;
        width: 50%;
        text-shadow: 0px 0px 10px  aqua;
        
      }
      .back-text{
        position: absolute;
        right: 600px;
        top: 45px;
        font-size: 120px;
        opacity: 0.2;
        text-shadow: 0 0 10px aqua;
      }
      img{
        position: absolute;
        right: 75px;
        top: 275px;
        width: 350px;
        border-radius: 50%;
        border: 2px aqua solid;
        transform: scale(1);
        transition: transform 0.5s;

      }
          img:hover{
            transform: scale(1.2);
            box-shadow: 0 0 10px aqua;
          }
      .home-text{
        position: absolute;
        margin-top: 400px;
        margin-left: 50px;
        font-size: 75%;
        font-style: italic;
        color: aqua;
      }

}

/*-----------------------------------------------------------------------------*/
/*----------------------------about-me----------------------------------------*/
.section-about-me{
  background-color: rgb(8, 85, 85);
  background-image: linear-gradient(rgb(8, 85, 85),rgb(52, 145, 145));
  display: flex;
  width: 100%;
  height: 100vh;
}

/*-----------------------------------------------------------------------------*/
/*----------------------------skills----------------------------------------*/
.section-skills{
  width: 100%;
  height: 100vh;
  background-color:rgb(52, 145, 145) ;
  background-image: linear-gradient(rgb(52, 145, 145),rgb(30, 179, 179));
}


/*-----------------------------------------------------------------------------*/
/*----------------------------life----------------------------------------*/
.section-life{
  width: 100%;
  height: 100vh;
  background-color:rgb(30, 179, 179) ;
  background-image: linear-gradient(rgb(30, 179, 179),rgb(8, 85, 85));
}